.alice-carousel__dots {
    margin: 30px 3px 5px;
    padding: 0;
    list-style: none;
    text-align: center;
    visibility: hidden;
}

.alice-carousel__prev-btn {
    text-align: right;
    visibility: hidden;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 10px 5px;
    visibility: hidden;
}

.slide1{
    position: absolute;
    width: 240px;
    height: 494px;
    left: 8px;
    
}

.slide2{
    position: absolute;
    width: 240px;
    height: 494px;
    left: 278px;
    top: 4px;

}

.slide3{
    position: absolute;
    width: 240px;
    height: 494px;
    left: 548px;
    top: 4px;
}

.slide4{
    position: absolute;
    width: 240px;
    height: 494px;
    left: 818px;
    top: 4px;

}

.slide5{
    position: absolute;
    width: 240px;
    height: 494px;
    left: 1088px;
    top: 4px;
}

.slide6{
    position: absolute;
    width: 240px;
    height: 494px;
    left: 1358px;
    top: 4px;
    
}

.alice-carousel {
    position: relative;
    width: 100%;
    margin: 143px 0px;
    direction: ltr;
}

.textslide{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 93px;
    top: 236px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.textslide1{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 363px;
    top: 236px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.textslide2{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 633px;
    top: 236px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.textslide3{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 903px;
    top: 236px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.textslide4{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 1173px;
    top: 236px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}

.slide0{
    visibility: hidden;
}